<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JoinUp</title>

    <link rel="stylesheet" href="./css/style.css">

    <link rel="icon" href="./images/favincon.png" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
    <header class="container">
        <div class="header-all-bg">
            <a href="./index.html"><img src="./images/logoPrimary.svg" alt="Logo da JoinUp."></a>

            <ul class="nav-all">
                <li><a href="./" class="font-1-m-b color-c12">oportunidades</a></li>

                <li><a href="./" class="font-1-m-b color-c12">empresas</a></li>
            </ul>
        </div>
    </header>

    <main>
        <div  class="container">
            <div id="main-content">
                <div id="card1">
                    <h1 class="font-1-xxl color-p5">busque a melhor oportunidade para o seu primeiro emprego</h1>
    
                    <p class="font-2-s color-p5">Encontre a vaga de estágio que você sempre sonhou e se insira de fato no mercado de trabalho, aqui você encontrará uma seleção das melhores oportunidades de estágio disponíveis.</p>
                </div>
    
                <div id="card2">
                    <img src="./images/mainImage.svg" alt="Figura de uma mulher como se estivesse presetes a falar algo.">
                </div>
            </div>
        </div>
    </main>
</body>
</html>